#logo {
	height: 230px;
	width: 220px;
	margin-top: 35px;
	margin-left: 610px;
}

#mainpic {
	height: 410px;
	width: 1400px;
	margin-top: 20px;
}

#about {
	height: 88px;
	width: 198px;
	margin-top: -200px;
	margin-left: 300px;
	backface-visibility: visible;
}
#skills {
	height: 88px;
	width: 198px;
	margin-top: -88px;
	margin-left: 900px;
}
#register {
	width: 141px;
	margin-top: -180px;
	margin-left: 635px;
}
#facebook3 {
	margin-top: -745px;
	margin-left: 940px;
	position: absolute;
}
#facebook4 {
	margin-top: -445px;
	margin-left: 940px;
	position: absolute;
}

#google3 {
	margin-top: -745px;
	margin-left: 980px;
	position: absolute;
}
#google4 {
	margin-top: -445px;
	margin-left: 980px;
	position: absolute;
}

#linkedin3 {
	margin-top: -745px;
	margin-left: 1020px;
	position: absolute;
}
#linkedin4 {
	margin-top: -445px;
	margin-left: 1020px;
	position: absolute;
}

#twitter3 {
	margin-top: -745px;
	margin-left: 1060px;
	position: absolute;
}
#twitter4 {
	margin-top: -445px;
	margin-left: 1060px;
	position: absolute;
}

#trainings2 {
	margin-top: 0px;
	margin-left: 320px;
	position: absolute;
}





#login {
	width: 141px;
	margin-top: -30px;
	margin-left: 635px;
}
#quote {
	width: 400px;
	margin-top: -370px;
	margin-left: 15px;
	text-wrap: normal;
	color: #FFF;
	font-size: 12px;
	opacity: 0.7;
}
#quote {
	font-family: "Swis721 BT";
	color: #FFF;
	opacity: 0.7;
	font-weight: bold;
}
#social {
	height: 36px;
	width: 36px;
	margin-top: 335px;
	margin-left: 15px;
}
#social2 {
	margin-top: -35px;
	margin-left: 60px;
}
#social3 {
	height: 36px;
	width: 36px;
	margin-top: -40px;
	margin-left: 105px;
}
#social4 {
	height: 36px;
	width: 36px;
	margin-top: -35px;
	margin-left: 150px;
}
#copyright {
	width: 520px;
	margin-top: 50px;
	margin-left: 880px;
	color: rgb(252,96,19);
}
#copyright {
	font-family: DIN-Light;
	font-size: 12px;
	color: rgb(252,96,19);
}

#wrapper {
	height: 770px;
	width: 800px;
	margin-top: 0px;
	margin-left: 300px;
	margin-bottom: -770px;
	overflow: visible;
	visibility: visible;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	position: absolute;
}
#backleft {
	height: 768px;
	width: 300px;
	margin-top: 0px;
	margin-left: 0px;
}
#backright {
	height: 768px;
	width: 0px;
	margin-top: -768px;
	margin-left: 1100px;
}
#headerimage {
	width: 800px;
	margin-top: -768px;
	margin-left: 300px;
	position: absolute;
}
#backimage {
	height: 768px;
	width: 1400px;
	margin-top: -770px;
	margin-left: 0px;
	position: absolute;
}
#backimage3 {
	margin-top: -210px;
	margin-left: 0px;
	position: inherit;
}

#t10 {
	margin-top: 250px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
}
#t11 {
	margin-top: 280px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
}
#t12 {
	margin-top: 310px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
}




#backimage2 {
	height: 768px;
	width: 1400px;
	margin-top: -1298px;
	margin-left: 0px;
	position: absolute;
}
#abtext {
	margin-top: -900px;
	margin-left: 485px;
	position: absolute;
}


#logo2 {
	height: 180px;
	width: 172px;
	margin-top: -735px;
	margin-left: 320px;
	position: absolute;
}
#logo3 {

}

#register2 {
	height: 143px;
	width: 141px;
	margin-top: -500px;
	margin-left: 500px;
}

#newuser {
	font-family: DIN-Medium;
	font-size: 14px;
	color: rgb(0,0,0);
	width: 400px;
	margin-top: -350px;
	margin-left: 460px;
	font-weight: bold;
	position: absolute;
}
#newuser3 {
	margin-top: 0px;
	margin-left: 500px;
	position: absolute;
	font-family: "Swis721 BT";
	font-weight: bold;
	font-size: 14px;
	color: rgb(51,51,51);
}
#backimage28 {
	margin-top: -520px;
	margin-left: 0px;
	position: absolute;
}

.forms {
	font-family: "Swis721 BT";
	margin-left: 200px;
	color: rgb(0,0,0);
	background-color: rgb(252,96,19);
	border-color: rgb(252,96,19);
	font-size: 16px;
	font-weight: bold;
}
.forms2 {
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: rgb(252,96,19);
	border-right-color: rgb(252,96,19);
	border-bottom-color: rgb(252,96,19);
	border-left-color: rgb(252,96,19);
}
.pass2 {
	color: rgb(51,51,51);
	font-weight: normal;
	font-family: "Swis721 BT";
}

#newuser p {
	color: rgb(51,51,51);
}
#login2 {
	height: 143px;
	width: 112px;
	margin-top: -500px;
	margin-left: 500px;
	position: absolute;
}
.login {
	font-family: "Swis721 BT";
	color: rgb(51,51,51);
	font-size: 14px;
	font-weight: bold;
}
.pass {
	color: rgb(252,96,19);
	font-family: "Swis721 BT";
}
#skills2 {
	height: 57px;
	width: 140px;
	margin-top: -481px;
	margin-left: 320px;
	position: absolute;
}
#commskil {
	letter-spacing: normal;
	height: 254px;
	width: 195px;
	margin-top: -380px;
	margin-left: 484px;
	opacity: 0.7;
}
#communication {
	height: 254px;
	width: 180px;
	margin-top: -385px;
	margin-left: 490px;
	font-family: "Swis721 BT";
	font-size: 13px;
	position: absolute;
}
#blok2 {
	height: 254px;
	width: 195px;
	margin-top: -517px;
	margin-left: 686px;
	opacity: 0.7;
}
#blok3 {
	height: 254px;
	width: 195px;
	margin-top: -254px;
	margin-left: 889px;
	opacity: 0.7;
}
#blocks {
	height: 768px;
	width: 1400px;
	margin-top: -768px;
	margin-left: 0px;
	opacity: 1;
	backface-visibility: visible;
	overflow: visible;
	position: absolute;
}
#read_more {
	width: 70px;
	margin-top: -328px;
	margin-left: 618px;
	font-size: 12px;
}
#read_more2 {
	margin-top: -200px;
	margin-left: 617px;
	font-size: 12px;
	position: relative;
}







#lifelong {
	height: 254px;
	width: 180px;
	margin-left: 490px;
	margin-top: 75px;
	position: absolute;
	z-index: 1;
	opacity: 1;
	font-family: "Swis721 BT";
	font-size: 13px;
	text-justify: auto;
	font-weight: normal;
	color: rgb(0,0,0);
	top: 482px;
	left: 9px;
}
#blok4 {
	margin-left: 484px;
	margin-top: 10px;
	opacity: 0.7;
}



#about2 {
	height: 57px;
	width: 140px;
	margin-top: 25px;
	margin-left: 320px;
	position: absolute;
}
#communication div p {
	color: rgb(0,0,0);
	font-family: "Swis721 BT";
}
.title {
	color: rgb(255,255,255);
	font-size: 16px;
	font-weight: bold;
}
#communication p .pass .pass2 .pass2 .pass2 {
	color: rgb(252,96,19);
	font-family: "Swis721 BT";
}
#logo3 {
	height: 180px;
	width: 172px;
	margin-top: -735px;
	margin-left: 320px;
	position: inherit;
}
#text {
	font-family: "Swis721 BT";
	font-size: 14px;
	width: 180px;
	margin-top: -480px;
	margin-left: 910px;
	position: absolute;
}
#text2 {
	font-family: "Swis721 BT";
	font-size: 14px;
	width: 180px;
	margin-top: -460px;
	margin-left: 930px;
	position: absolute;
}
#text3 {
	font-family: "Swis721 BT";
	font-size: 14px;
	width: 180px;
	margin-top: -440px;
	margin-left: 930px;
	position: absolute;
	color: rgb(51,51,51);
}



#home {
	height: 57px;
	width: 140px;
	margin-top: -536px;
	margin-left: 320px;
	position: absolute;
}
#home2 {
	height: 57px;
	width: 140px;
	margin-top: -536px;
	margin-left: 320px;
	position: absolute;
}


#homebackground {
	height: 517px;
	width: 1400px;
	margin-top: 15px;
	margin-left: 0px;
	position: inherit;
}
#user {
	width: 100px;
	margin-top: -1130px;
	margin-left: 960px;
	position: absolute;
	color: rgb(252,96,19);
	font-family: "Swis721 BT";
}
#user2 {
	width: 100px;
	margin-top: -590px;
	margin-left: 960px;
	position: absolute;
	color: rgb(252,96,19);
	font-family: "Swis721 BT";
}

#logout_icon {
	height: 14px;
	width: 12px;
	margin-top: -1127px;
	margin-left: 1062px;
	position: absolute;
}
#logout_icon2 {
	height: 14px;
	width: 12px;
	margin-top: -587px;
	margin-left: 1062px;
	position: absolute;
}

#about3 {
	height: 57px;
	width: 140px;
	margin-top: -281px;
	margin-left: 320px;
	position: absolute;
}
#about4 {
	height: 57px;
	width: 140px;
	margin-top: 250px;
	margin-left: 320px;
	position: inherit;
}

#facebook2 {
	height: 36px;
	width: 36px;
	margin-top: -765px;
	margin-left: 940px;
	position: absolute;
}
#google2 {
	height: 36px;
	width: 36px;
	margin-top: -765px;
	margin-left: 980px;
	position: absolute;
}
#linkedin2 {
	height: 36px;
	width: 36px;
	margin-top: -765px;
	margin-left: 1020px;
	position: absolute;
}
#twitter2 {
	height: 36px;
	width: 36px;
	margin-top: -765px;
	margin-left: 1060px;
	position: absolute;
}
#nav {
	height: 20px;
	width: 83px;
	margin-top: -500px;
	margin-left: 788px;
	position: absolute;
}





#news {
	margin-top: -745px;
	margin-left: 0px;
	position: inherit;
}






#skills3 {
	height: 57px;
	width: 140px;
	margin-top: 93px;
	margin-left: 480px;
	position: absolute;
	left: -152px;
	top: 211px;
}
#trainings {
	height: 57px;
	width: 140px;
	margin-top: 157px;
	margin-left: 480px;
	position: absolute;
	left: -152px;
	top: 212px;
}
#trainings2 {
	height: 57px;
	width: 140px;
	margin-top: 156px;
	margin-left: 480px;
	position: absolute;
	left: -152px;
	top: 212px;
}
#train {
	margin-top: -522px;
	margin-left: 0px;
	position: inherit;
}


#trainers {
	height: 57px;
	width: 140px;
	margin-top: 218px;
	margin-left: 480px;
	position: absolute;
	left: -152px;
	top: 214px;
}
#textabout {
	font-family: "Swis721 BT";
	font-size: 14px;
	height: 100px;
	width: 530px;
	margin-top: 0px;
	margin-left: 520px;
	position: absolute;
}
#textabout p {
	color: rgb(252,96,19);
	font-size: 18px;
	font-weight: bold;
}
#t1 {
	margin-top: 450px;
	margin-left: 340px;
	position: absolute;
}
#novi {
	margin-top: 350px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
	color: #FC6013;
	font-weight: bold;
}
#moji {
	margin-top: 370px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
	font-weight: bold;
	color: #FC6013;
}


#t6 {
	margin-top: 520px;
	margin-left: 510px;
	position: absolute;
}
#t7 {
	margin-top: 450px;
	margin-left: 680px;
	position: absolute;
}
#t8 {
	margin-top: 485px;
	margin-left: 680px;
	position: absolute;
}
#t9 {
	margin-top: 520px;
	margin-left: 680px;
	position: absolute;
}
#t {
	margin-top: 425px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
}
#tt {
	margin-top: 425px;
	margin-left: 510px;
	position: absolute;
	font-family: "Swis721 BT";
}
#ttt {
	margin-top: 425px;
	margin-left: 680px;
	position: absolute;
	font-family: "Swis721 BT";
}
#tttt {
	margin-top: 440px;
	margin-left: 320px;
	position: absolute;
}







#t5 {
	margin-top: 485px;
	margin-left: 510px;
	position: absolute;
}
#t4 {
	margin-top: 450px;
	margin-left: 510px;
	position: absolute;
}
#t3 {
	margin-top: 520px;
	margin-left: 340px;
	position: absolute;
}
#t2 {
	margin-top: 485px;
	margin-left: 340px;
	position: absolute;
}
#sacuvaj {
	margin-top: 560px;
	margin-left: 340px;
	position: absolute;
	font-family: "Swis721 BT";
	font-weight: bold;
	color: #4c4c4c;
}
#newuser3 input {
	margin-top: 0px;
	margin-left: 0px;
	position: relative;
}
#radio {
	margin-top: 100px;
	margin-left: 380px;
	position: absolute;
}
#radio2 {
	margin-top: 100px;
	margin-left: 250px;
	position: absolute;
}
#rad {
	font-family: "Swis721 BT";
	margin-top: 198px;
	margin-left: 590px;
	font-size: 14px;
	color: #4c4c4c;
	font-weight: bold;
}
#rad2 {
	font-family: "Swis721 BT";
	margin-top: -16px;
	margin-left: 705px;
	font-size: 14px;
	color: #4c4c4c;
	font-weight: bold;
}
#file {
	font-family: "Swis721 BT";
	position: absolute;
	margin-left: 490px;
	margin-top: 10px;
	color: #4c4c4c;
	font-weight: bold;
	font-size: 14px;
}
#train2 {
	margin-top: -745px;
	margin-left: 0px;
	position: inherit;
}
#news2 {
	margin-top: -750px;
	margin-left: 0px;
	position: absolute;
}
